[Unit]
Description = ithotupdate

[Service]
Type = simple
ExecStart = /usr/local/bin/ithotupdate.sh
Restart = on-abort
RestartSec = 5

[Install]
WantedBy = multi-user.target

